{% extends 'layouts/base.html'%} {% block content %}
<h1>Welcome to About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aspernatur nulla nisi placeat ratione et omnis laboriosam temporibus, inventore sunt aut voluptates accusantium voluptatem, corporis, doloribus vitae recusandae voluptatum saepe nobis eveniet
    facere ea incidunt quam? Voluptatibus sequi et dolorum molestias? Corrupti corporis non, asperiores animi impedit vel quibusdam atque reiciendis tempore, voluptas, odit aliquam. Neque debitis aspernatur id minus expedita, non laboriosam nihil rem
    consequuntur placeat, pariatur eaque inventore beatae reiciendis quos eveniet? Voluptates amet nulla doloremque aperiam sed. Qui voluptates soluta ab praesentium? Omnis aspernatur optio dolores? Corporis asperiores distinctio molestias delectus nam
    exercitationem modi eos iste omnis!</p>
<p>document created by {{username}}</p>{% endblock %}